/data/
.idea
*.pyc
/log
*.txt
save_model/
embedding.msgpack
*save_model*/
*.zip
0.88zhaohang.zip
0.88zha*
*.msgpack
*DS_Store
*.pid
/redis*
venv
*.rdb
*.xlsx
*.lock
*.log
/quality-tensorrt
*.freq
/models
logs