kcsize filter=lfs diff=lfs merge=lfs -text
deep[[:space:]]mining.png filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/README.md filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/logs filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【未按要求提交材料】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【消电家居行业】商品品质违规实施细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/商达纠纷判责管理规则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【不当使用他人权利】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【发布非约定商品】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【商品信息虚假宣传】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【服务违规】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【泄露信息】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【滥发信息】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【珠宝玉石行业】商品品质违规实施细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/快手小店违规申诉材料一览表.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【不正当竞争】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【出售假冒商品】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【发布违禁商品信息】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【品牌不一致】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【茶酒健康行业】商品品质违规实施细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【发布其他平台信息】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【扰乱平台秩序】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【扰乱平台系统】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【虚假交易】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/快手小店违规申诉管理规则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【商业贿赂】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【危及用户及平台交易和资金安全】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【发布混淆信息】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【无货源店铺】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/快手小店商家违规管理规则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【个护日百行业】商品品质违规实施细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【危及用户权益】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【发货违规】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【美妆跨境行业】商品品质违规实施细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【骗取他人财物】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/快手小店关联主体违规管理规则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【消极处理售后】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【生鲜食品行业】商品品质违规实施细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则/【类目错放】实施细则（商家）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【不当使用他人权利】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【发布虚假宣传信息】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【扰乱平台秩序】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【服务违规】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【危及用户权益】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【发布其他平台信息】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【推广违禁商品信息】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【泄露信息】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【虚假交易】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【骗取他人财物】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【利用未成年人营销】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【发布混淆信息】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【商业贿赂】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【推广假冒商品】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【推广非约定商品】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【未按要求提交材料】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【未经报备直接推广营销】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【滥发信息】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【不正当竞争】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【不正当营销】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【推广商品假冒材质成分】实施细则（达人）.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则/【违规整改考核】执行细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/③其他关联规则/【违规预警】实施细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/③其他关联规则/商家达人非定额违约金执行细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/③其他关联规则/违约金未支付限制提现、划扣之相关FAQ.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/③其他关联规则/【违规整改考核】执行细则.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/③其他关联规则 filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/备注.docx filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/①商家违规管理细则 filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/docs/②达人违规管理细则 filter=lfs diff=lfs merge=lfs -text
examples/merchant_violation_query/logs/output_dialogue_robustV2.xlsx filter=lfs diff=lfs merge=lfs -text
